/*
  Icon Font: fontcustom
*/


@font-face {
  font-family: "fontcustom";
  src: url("/fonts/fontcustom_841eeabe20316b376ddbe7043749e827.eot");
  src: url("/fonts/fontcustom_841eeabe20316b376ddbe7043749e827.eot?#iefix") format("embedded-opentype"),
       url("/fonts/fontcustom_841eeabe20316b376ddbe7043749e827.woff") format("woff"),
       url("/fonts/fontcustom_841eeabe20316b376ddbe7043749e827.ttf") format("truetype"),
       url("/fonts/fontcustom_841eeabe20316b376ddbe7043749e827.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("/fonts/fontcustom_841eeabe20316b376ddbe7043749e827.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-haml:before,
.icon-jira:before,
.icon-jquery:before,
.icon-latex:before,
.icon-markdown:before,
.icon-redmine:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-haml:before { content: "\f100"; }
.icon-jira:before { content: "\f101"; }
.icon-jquery:before { content: "\f102"; }
.icon-latex:before { content: "\f103"; }
.icon-markdown:before { content: "\f104"; }
.icon-redmine:before { content: "\f105"; }
